<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Router</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <a href="/quantum">Quantum</a>
  <a href="/normal">Normal</a>
</body>

</html>