<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Normal</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <a href="/quantum">Quantum</a>
  <p><%= `In real life you were absent for ${time.years()} years, ${time.months()} months, ${time.days()} days.` %></p>
</body>

</html>