<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quantum</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <a href="/normal">Normal</a>
  <p><%= `In quantum space you were absent for ${quantumTime[0]} years, ${quantumTime[1]} months, ${quantumTime[2]} days.` %></p>
</body>

</html>